<h3><i class="fa fa-trophy" aria-hidden="true"></i> Rewards</h3>
<ul>
    <li> Sensetime Scholarship, 2017</li>
    <li> Qualcomm Scholarship, 2016</li>
    <li> Artistic Scholarship, 2016</li>
    <li> Science and technology Scholarship, 2016</li>
    <li> Science and technology Scholarship, 2015</li>
    <!-- <li> 3rd prize in 19th Intelligent body contest</li> -->
    <li> Best project in Computer Networking course, Jan. 2017 </li>
    <li> Best project in Web Front-end Technology course, Aug. 2016</li>
</ul>

<h3><i class="fa fa-trophy" aria-hidden="true"></i> Achievements</h3>
<ul>
    <li><b>Platinum</b> placement as <i>Sigma</i> in <a href="https://playoverwatch.com/en-us/" target="_blank">Overwatch</a></li>
    <li><b>Platinum</b> placement in <a href="https://www.ea.com/games/apex-legends" target="_blank">Apex heros</a></li>
    <li><b>Master</b> placement as <i>Zerg</i>, <b>Diamond</b> as <i>Protoss</i> in <a href="https://starcraft2.com" target="_blank">StarCraft II</a></li>
    <li><b>Platinum Cup</b> of <a href="http://www.monsterhunterworld.com/" target="_blank">Monster Hunter: World</a></li>
    <li><b>Platinum Cup</b> of <a href="https://godofwar.playstation.com/" target="_blank">God of War</a></li>
</ul>