<h3><i class="fa fa-trophy" aria-hidden="true"></i> Gaming achievements</h3>
<ul>
    <li><span class='color-level-diamond'><b>Diamond rank</b></span> in <a href="https://www.ea.com/games/apex-legends" target="_blank">Apex Legends</a> <b>(2%)</b> </li>
    <li><span class='color-level-heirloom'><b>Platinum Cup</b></span> of <a href="https://www.monsterhunter.com/world-iceborne/" target="_blank">Monster Hunter World: Iceborne</a></li>
    <li><span class='color-level-heirloom'><b>Platinum Cup</b></span> of <a href="https://atlus.com/13sentinels/" target="_blank">13 Sentinels: Aegis Rim</a></li>
    <li><span class='color-level-platinum'><b>Platinum rank</b></span> in <a href="https://playoverwatch.com/en-us/" target="_blank">Overwatch</a></li>
    <li><span class='color-level-master'><b>Master rank</b></span> as <i>Zerg</i>, <span class='color-level-diamond'><b>Diamond rank</b></span> as <i>Protoss</i> in <a href="https://starcraft2.com" target="_blank">StarCraft II</a></li>
    <li><span class='color-level-heirloom'><b>Platinum Cup</b></span> of <a href="http://www.monsterhunterworld.com/" target="_blank">Monster Hunter: World</a></li>
    <li><span class='color-level-heirloom'><b>Platinum Cup</b></span> of <a href="https://godofwar.playstation.com/" target="_blank">God of War</a></li>
</ul>


<h3><i class="fa fa-trophy" aria-hidden="true"></i> Scholar rewards</h3>
<ul>
    <li> Sensetime Scholarship, 2017</li>
    <li> Qualcomm Scholarship, 2016</li>
    <li> Artistic Scholarship, Tsinghua University, 2016</li>
    <li> Science and technology Scholarship, Tsinghua University, 2016</li>
    <li> Science and technology Scholarship, Tsinghua University, 2015</li>
    <!-- <li> 3rd prize in 19th Intelligent body contest</li> -->
    <!-- <li> Best project in Computer Networking course, Jan. 2017 </li> -->
    <!-- <li> Best project in Web Front-end Technology course, Aug. 2016</li> -->
</ul>
