<div class="col-3 nav">
    <a href="#"><img src="/assets/images/profile.jpg" class="img-circle" width="40%" /></a>
    <h1>Shichen Liu</h1>
    <p>Ph. D. Student of</p>
    <p>Computer Science</p>
    <p><a href="https://www.usc.edu"><i class="fa fa-university" aria-hidden="true"></i> University of Southern California</a></p>
    <p class="icon"><a href="http://github.com/shichenliu"><i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:liushichen95@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/shichen.liu.75"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://scholar.google.com/citations?user=hflawksAAAAJ&hl=en"><i class="ai ai-google-scholar-square" aria-hidden="true"></i></a><p>
</div>