<h3><i class="fa fa-folder-open-o" aria-hidden="true"></i> Undergrad course projects</h3>
<ul>
    <li><a href="https://shichenliu.github.io/haskell-repl-compiler/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Lisp interpreter and compiler on Heskell [Compiler] (Functional Programming) </a></li>
    <li><a href="https://github.com/ShichenLiu/C-compiler" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> C to LLVM/Python compiler [Compiler] (Principle of Compiler, best project) </a></li>
    <li><a href="https://github.com/ShichenLiu/FTP-server" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> FTP Server [Server] (Computer Networking, best project) </a></li>
    <li><a href="https://lmy1229.github.io/Carstructor/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Carstructor [Game] (Front-end) </a></li>
    <!-- <li><a href="https://shichenliu.github.io/game-of-life/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Cellular Automata (Software Engineering) </a></li> -->
</ul>
