
body {
    font-family: Tahoma, Arial, sans-serif;
    background-color: rgb(250, 250, 250);
}

h1 {

}

li {
    list-style-type:none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgb(66, 139, 202);
    font-weight: bold;
}

div.paper {
    width: 800px;
    height: 60px;
    padding: 15px;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 1px 0.2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 1px 1px 0.2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 1px 0.2px rgba(0, 0, 0, 0.1);
}

a.paper-code {
    color: #0E0;
    font-weight: normal;
    font-size: 18px;
}

a.paper-title {
    color: #000;
    font-size: 18px;
}

a.paper-title:hover, a.paper-code:hover {
    text-decoration: underline;
}

span.paper-author {
    color: #111;
    font-style: italic;
    font-size: 14px;
}

span.paper-conf {
    font-size: 14px;
}

div.paper-img {
    max-height: 180px;
    width: 80%;
    margin-top: 15px;
    overflow: hidden;
    -webkit-transition: max-height .3s ease-in-out; 
    -moz-transition: max-height .3s ease-in-out; 
    -ms-transition: max-height .3s ease-in-out; 
    -o-transition: max-height .3s ease-in-out; 
    transition: max-height .3s ease-in-out;
}

div.paper-img img {
    max-height: 180px;
}

div.paper-img.collapsed {
    max-height: 180px;
}

div.paper-img.collapsed img {
    max-height: 0px;
}

.icon a{
    color: #FFF;
    font-size: 24px;
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 10%;
    padding-bottom: 1%;
    display: block;
    background-color: #000;
    color: #FFF;
    text-align: center;
}

@media (min-device-width: 600px) {
	.col-3, .col-6, .col-9 {
	    float: left;
	    position: relative;
	    padding-right: 15px;
	    padding-left: 15px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.col-3 {
	    width: 25%;
	}
	
	.col-6 {
	    width: 50%;
	}
	
	.col-9 {
	    width: 75%;
	}
	
	.col-offset-3 {
	    margin-left: 25%;
	}

    .nav {
        position: fixed;
    }
}

@media (max-device-width: 599px) {
    .col-3, .col-6, .col-9 {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
        width: 100%;
    }

    .nav {
        position: relative;
    }

    .fa {
        margin-right: 15px;
    }
}

.img-circle {
    border-radius: 50%;
}
